<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Suite" parallel="methods" thread-count="4">
	<test name="SampleRequest" group-by-instances="true">
		<parameter name = "EnvironmentVariable_" value="X12_837_INPUT"/> 
		<classes>
 			<class name="com.bsc.qa.stt.test_factory.Edi837FacetsDbTestFactory"/>
		</classes>
	</test> 
</suite>
